.dark {
    @color-bg: #333;
    @color-links: #65a51f;
    @color-text: #f1f1f1;

    .full {
        color: @color-text;
        background: @color-bg;
    }


    a {
        color: @color-links;
        &:hover {
            color: darken(@color-links,8%);
        }
    }
    .explorer {
        background: darken(@color-bg,12%);

        .columns-wrapper {
            background: @color-bg;
        }
        .column {
            background: @color-bg;

            .column-hovered {
                background: lighten(@color-bg,5%);
            }
            &.favorites {
                background: darken(@color-bg,6%);

                .is-over {
                    background: darken(@color-bg,12%);
                }
            }

            header {
                color: darken(@color-text,5%);
                .right {
                    background: darken(@color-bg,6%);
                }
            }

            section a {
                color: @color-text;
                &:hover,
                &.selected {
                    color: @color-text;
                    background: lighten(@color-bg,8%);
                }
            }
            &.active section a.selected {
                color: @color-text;
                background: @color-links;
            }
            .file-hovered {
                background: lighten(@color-bg,12%);
            }
        }
        .column-preview h3 {
            color: @color-text;
        }
        .explorer-footer {
            color: @color-text;
            background: darken(@color-bg,12%);
        }
    }

    .modal-backdrop {
        background: @color-bg;
    }

    .modal-open .modal,
    .columns-wrapper,
    .column {
        @scroll-foreground: lighten(@color-bg,40%);
        @scroll-background: #000;

        &::-webkit-scrollbar-thumb {
            background: @scroll-foreground !important;
        }

        &::-webkit-scrollbar-track {
            background: darken(@color-bg,6%) !important;
        }
    }
}
