.tooltip strong {
    margin-right: 4px;
}

.explorer {
    @header-height: 45px;
    @footer-height: 20px;
    @favorite-width: 220px;
    @favorite-bg-color: rgb(235, 239, 243);
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .explorer-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: @header-height;
        .favorite {
            display: inline-block;
            width: 220px;
            height: @header-height;
            .logo {
                display: inline-block;
                height: @header-height;
                margin-right: w0px;
                img {
                    height: 40px;
                    width: auto;
                    padding-top: 7px;
                    padding-left: 7px;
                }
            }
        }
        .actions,
        .spacer-lg,
        .spacer-md,
        .spacer-sm {
            line-height: @header-height;
            display: inline-block;
            vertical-align: top;
        }
        .actions {
            padding: 0 5px;
            font-size: 14px;
            &.disabled,
            &[disabled] {
                color: lighten(#333, 20%);
            }
        }
        .spacer-sm {
            width: 20px;
        }
        .spacer-md {
            width: 40px;
        }
        .spacer-lg {
            width: 60px;
        }
    }
    .explorer-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #e2e2e2;
        line-height: @footer-height;
        font-size: 12px;
        padding: 0 5px;
    }
    
    .columns-wrapper {
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
        position: absolute;
        left: @favorite-width;
        top: @header-height;
        bottom: @footer-height;
        right: 0;
        white-space: nowrap;
        background: #FFF;
    }
    .column {
        display: inline-block;
        vertical-align: top;
        overflow-x: hidden;
        overflow-y: scroll;
        max-width: 300px;
        min-width: 200px;
        width: 250px;
        height: 100%;

        &.favorites {
            position: absolute;
            left: 0;
            top: @header-height;
            bottom: @footer-height;
            display: block;
            width: @favorite-width;
            background: @favorite-bg-color;
        }
        
        header {
            display: block;
            font-size: 1.5em;
            -webkit-margin-before: 0.83em;
            -webkit-margin-after: 0.83em;
            -webkit-margin-start: 0;
            -webkit-margin-end: 0;
            margin: 0;
            font-size: 2.25rem;
            letter-spacing: -.025em;
            color: #333;
            margin: 9px 0;
            padding: 0 10px;
            display: block;
            -webkit-user-select: none;
            cursor: default;
            font-size: 10px;
            color: rgb(90, 91, 92);
            font-weight: bold;
            line-height: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            .right {
                position: absolute;
                right: 3px;
                top: 0;
                bottom: 0;
                display: none;
                background: @favorite-bg-color;
                padding-left: 3px;
                a {
                    &.remove {
                        color: @brand-danger;
                        margin-right: 7px;
                    }
                }
            }
            &:hover .right {
                display: block;
            }
        }
        section {
            display: block;
            overflow: hidden;
            &.open {
                max-height: 10000px;
                transition: max-height 0.25s ease-in;
            }
            &.closed {
                max-height: 0;
                transition: max-height 0.15s ease-out;
            }
            a {
                -webkit-user-select: none;
                cursor: default;
                display: block;
                position: relative;
                margin-top: 4px;
                margin-bottom: 4px;
                padding: 5px 18px;
                display: block;
                -webkit-user-select: none;
                cursor: default;
                font-size: 13px;
                color: rgb(65, 65, 65);
                line-height: 15.6px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                i.left {
                    margin-right: 5px;
                    color: #3399CC;
                }
                .right {
                    position: absolute;
                    right: 3px;
                    top: 0;
                    line-height: 25px;
                    color: rgb(150, 150, 150);
                }
                &:hover {
                    background: #f1f1f1;
                    color: rgb(65, 65, 65);
                    overflow: visible;
                }
                &.selected {
                    background: #f1f1f1;
                    color: rgb(65, 65, 65);
                }
            }
        }
        &.active section a.selected {
            background: rgb(255, 149, 0);
            color: #FFF;
            i.left {
                color: #FFF;
            }
        }
    }
    .column-preview {        
        text-align: center;
        .preview {
            margin-top: 5px;
            display: block;
            height: auto;
            padding: 5px;
            .text{
                max-height: 400px;
                overflow: auto;
            }
        }
        h3 {
            font-size: 18px;
        }
        
    }
}

.modal-preview {
    .modal-content {
        background: #000;
    }
    .modal-body {
        padding: 3px;
    }
}

.preview {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: block;
    text-align: center;
    .unknown {
        display: block;
        width: 100%;
        .icon-file {
            &:before {
                font-size: 50px;
                left: -15px;
            }
        }
    }
    .text {
        display: block;
        width: 100%;        
        text-align: left;

        pre{
            margin-bottom: 0;
        }
    }
    .image {
        width: auto;
        height: auto;
        max-width: 100%;
    }
    .video {
        display: block;
        width: 100%;
        height: auto;
        &>div {
            width: 100% !important;
            height: auto !important;
            display: block;
            video {
                width: 100%;
                height: auto !important;
            }
        }
    }
}